<section class="container specform-default">
    <productnav editvariant="true" product="Product" variant="Variant" />

    <div class="col-md-4 col-collapse" ng-hide="!Variant.PreviewUrl">
        <div class="panel panel-default">
            <div class="panel-body">
                <figure>
                    <img ng-src="{{Variant.PreviewUrl}}" />
                </figure>
            </div>
        </div>
    </div>
    <div ng-class="{'col-xs-12 col-collapse': !Variant.PreviewUrl, 'col-md-7 col-md-offset-1 col-collapse': Variant.PreviewUrl }">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span ng-show="Variant.PreviewUrl">Edit </span>{{Variant.ExternalID || 'Create New'}}</h3>
            </div>
            <div class="panel-body form-group">
                <div class="view-form-icon">
                    <div class="input-group">
                        <label>Name</label>
                        <input class="form-control" placeholder="{{Variant.Specs.Name.Name}}" size="{{Variant.Specs.Name.Width * .13}}" ng-maxlength="{{Variant.Specs.Name.MaxLength}}" ui-mask="{{Variant.Specs.Name.MaskedInput}}" type="text" autocomplete="off" ng-required="{{Variant.Specs.Name.Required}}" ng-model="Variant.Specs.Name.Value"></input>
                    </div>
                    <div class="input-group">
                        <label>Title</label>
                        <input class="form-control" placeholder="Title" size="{{Variant.Specs.Title_1.Width * .13}}" ng-maxlength="{{Variant.Specs.Title_1.MaxLength}}" ui-mask="{{Variant.Specs.Title_1.MaskedInput}}" type="text" autocomplete="off" ng-required="{{Variant.Specs.Title_1.Required}}" ng-model="Variant.Specs.Title_1.Value"></input>
                    </div>
                    <div class="input-group">
                        <label>Title Two</label>
                        <textarea class="form-control" placeholder="Title Two" cols="{{Variant.Specs.Title_2.Width * .13}} rows={{Variant.Specs.Title_2.Lines}}" ng-maxlength="{{Variant.Specs.Title_2.MaxLength}}" ui-mask="{{Variant.Specs.Title_2.MaskedInput}}" type="text" autocomplete="off" ng-required="{{Variant.Specs.Title_2.Required}}" ng-model="Variant.Specs.Title_2.Value"></textarea>
                    </div>
                    <div class="input-group">
                        <label>Email Address</label>
                        <input class="form-control" placeholder="{{Variant.Specs.Email_Address.Name}}" size="{{Variant.Specs.Email_Address.Width * .13}}" ng-maxlength="{{Variant.Specs.Email_Address.MaxLength}}" ui-mask="{{Variant.Specs.Email_Address.MaskedInput}}" type="text" autocomplete="off" ng-required="{{Variant.Specs.Email_Address.Required}}" ng-model="Variant.Specs.Email_Address.Value"></input>

                    </div>
                    <div class="input-group">
                        <label>Address</label>
                        <input class="form-control" placeholder="{{Variant.Specs.Address_1.Name}}" size="{{Variant.Specs.Address_1.Width * .13}}" ng-maxlength="{{Variant.Specs.Address_1.MaxLength}}" ui-mask="{{Variant.Specs.Address_1.MaskedInput}}" type="text" autocomplete="off" ng-required="{{Variant.Specs.Address_1.Required}}" ng-model="Variant.Specs.Address_1.Value"></input>
                    </div>
                    <div class="input-group">
                        <label>Address Line Two</label>
                        <input class="form-control" placeholder="{{Variant.Specs.Address_2.Name}}" size="{{Variant.Specs.Address_2.Width * .13}}" ng-maxlength="{{Variant.Specs.Address_2.MaxLength}}" ui-mask="{{Variant.Specs.Address_2.MaskedInput}}" type="text" autocomplete="off" ng-required="{{Variant.Specs.Address_2.Required}}" ng-model="Variant.Specs.Address_2.Value"></input>
                    </div>
                    <div class="input-group">
                        <label>City</label>
                        <input class="form-control" placeholder="{{Variant.Specs.City.Name}}" size="{{Variant.Specs.City.Width * .13}}" ng-maxlength="{{Variant.Specs.City.MaxLength}}" ui-mask="{{Variant.Specs.City.MaskedInput}}" type="text" autocomplete="off" ng-required="{{Variant.Specs.City.Required}}" ng-model="Variant.Specs.City.Value"></input>
                    </div>
                    <div class="input-group">
                        <label>State</label>
                        <input class="form-control" placeholder="{{Variant.Specs.State.Name}}" size="{{Variant.Specs.State.Width * .13}}" ng-maxlength="{{Variant.Specs.State.MaxLength}}" ui-mask="{{Variant.Specs.State.MaskedInput}}" type="text" autocomplete="off" ng-required="{{Variant.Specs.State.Required}}" ng-model="Variant.Specs.State.Value"></input>
                    </div>
                </div>
            <div class="panel-footer">
                <button class="btn btn-primary pull-right" type="submit" ng-click="save()">Save</button>
            </div>
        </div>
    </div>

</section>




