<section class="container specform-default">
    <productnav editvariant="true" product="Product" variant="Variant" />

    <div class="col-md-4 col-collapse" ng-hide="!Variant.PreviewUrl">
        <div class="panel panel-default">
            <div class="panel-body">
                <figure>
                    <img ng-src="{{Variant.PreviewUrl}}" />
                </figure>
            </div>
        </div>
    </div>
    <div ng-class="{'col-xs-12 col-collapse': !Variant.PreviewUrl, 'col-md-7 col-md-offset-1 col-collapse': Variant.PreviewUrl }">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span ng-show="Variant.PreviewUrl">Edit </span>{{Variant.ExternalID || 'Create New'}}</h3>
            </div>
            <div class="panel-body form-group">
                <div class="view-form-icon">
                    <div class="input-group">
                        <label>Name</label>
                        <input class="form-control" placeholder="{{Variant.Specs.Name.Name}}" size="{{Variant.Specs.Name.Width * .13}}" ng-maxlength="{{Variant.Specs.Name.MaxLength}}" ui-mask="{{Variant.Specs.Name.MaskedInput}}" type="text" autocomplete="off" ng-required="{{Variant.Specs.Name.Required}}" ng-model="Variant.Specs.Name.Value"></input>
                    </div>
                    <div class="input-group">
                        <label>Title</label>
                        <input class="form-control" placeholder="Title" size="{{Variant.Specs.Title_1.Width * .13}}" ng-maxlength="{{Variant.Specs.Title_1.MaxLength}}" ui-mask="{{Variant.Specs.Title_1.MaskedInput}}" type="text" autocomplete="off" ng-required="{{Variant.Specs.Title_1.Required}}" ng-model="Variant.Specs.Title_1.Value"></input>
                    </div>
                </div>
            <div class="panel-footer">
                <button class="btn btn-primary pull-right" type="submit" ng-click="save()">Save</button>
            </div>
        </div>
    </div>

</section>




